@charset "utf-8";

body
{
	font-size: 1em;
	font-family: Arial;
}

h1
{	
	color: #216E39;
}

label
{
	font-weight: 700;
}

.btnPadrao
{
	background-color: #26A641;
	padding: 5px 10px;
	text-decoration: none;
	color: white;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.2em;
	border: 0;
}

.cxTexto
{
	margin-bottom: 10px;
	padding: 5px;
	font-size: 1.1em;
}


#TB_Clientes
{
	margin-top: 30px;
	border-collapse: collapse;
}

#TB_Clientes th
{
	background-color: #26A641;
	color: white;
	padding: 5px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#TB_Clientes td
{
	padding: 8px 10px;
	border: 1px solid #26A641;
}